Repository juice-shop/juice-shop, pull requests merged in 2018-07, with the labels that each got.

#635 New Crowdin translations
  app/i18n/ja_JP.json
Labels: in progress

#627 Jsonp chall
  config/fbctf.yml
  data/static/challenges.yml
  routes/currentUser.js
  test/e2e/directAccessSpec.js
  test/server/currentUserSpec.js
Labels: in progress

#632 Exploit chain 1
  app/i18n/en.json
  app/index.template.html
  app/js/controllers/LogoutController.js
  app/js/controllers/NavbarController.js
  app/js/services/LogoutService.js
  config/fbctf.yml
  data/static/challenges.yml
  models/user.js
  routes/currentUser.js
  routes/saveLoginIp.js
  server.js
  test/client/controllers/logoutControllerSpec.js
  test/client/services/logoutServiceSpec.js
  test/e2e/restApiSpec.js
  test/server/currentUserSpec.js
Labels: help wanted, in progress

#649 Ensure OpenShift compatibility.
  Dockerfile
Labels: docker, in progress

#652 Rebase to master
  .appveyor.yml
  Dockerfile
  REFERENCES.md
  app/package.json
  package.json
Labels: in progress

#653 Revert "Update config to the latest version 🚀"
  package.json
Labels: in progress

#654 Revert 653 revert 650 greenkeeper/config 1.31.0
  package.json
Labels: in progress

#646 New Crowdin translations
  app/i18n/pt_BR.json
  app/i18n/pt_PT.json
Labels: in progress
