Repository juice-shop/juice-shop, pull requests merged in 2019-04, with the labels that each got.

#891 Video subs challenge
  config/fbctf.yml
  data/static/challenges.yml
  frontend/src/assets/public/subtitles/jingleSubtitles.vtt
  frontend/src/assets/public/videos/JuiceShopJingle.mp4
  routes/userProfile.js
  routes/videoHandler.js
  server.js
  test/e2e/complainSpec.js
  test/files/videoExploit.zip
  views/promotionVideo.jade
  views/themes/themes.js
Labels: challenge, in progress

#912 New Crowdin translations
  frontend/src/assets/i18n/tlh_AA.json
Labels: size/XS

#913 Addition of Image Based Captcha in Data Export Component
  frontend/package-lock.json
  frontend/src/app/Services/image-captcha.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/data-export/data-export.component.html
  frontend/src/app/data-export/data-export.component.scss
  frontend/src/app/data-export/data-export.component.spec.ts
  frontend/src/app/data-export/data-export.component.ts
  frontend/src/assets/i18n/en.json
  models/imageCaptcha.js
  package-lock.json
  package.json
  routes/dataExport.js
  routes/imageCaptcha.js
  server.js
Labels: size/L

#919 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/L

#922 Facelift: migration of jade templates from bootstrap to material design lite + various style revisions
  frontend/src/app/change-password/change-password.component.html
  frontend/src/app/change-password/change-password.component.scss
  frontend/src/app/data-export/data-export.component.html
  frontend/src/app/data-export/data-export.component.scss
  frontend/src/app/last-login-ip/last-login-ip.component.html
  frontend/src/app/last-login-ip/last-login-ip.component.scss
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/privacy-policy/privacy-policy.component.html
  frontend/src/app/privacy-policy/privacy-policy.component.scss
  frontend/src/app/privacy-policy/privacy-policy.component.spec.ts
  frontend/src/app/privacy-security/privacy-security.component.html
  frontend/src/app/privacy-security/privacy-security.component.scss
  frontend/src/app/product-details/product-details.component.html
  frontend/src/app/product-details/product-details.component.scss
  frontend/src/app/two-factor-auth/two-factor-auth.component.html
  frontend/src/app/two-factor-auth/two-factor-auth.component.scss
  frontend/src/app/two-factor-auth/two-factor-auth.component.spec.ts
  frontend/src/assets/public/css/userProfile.css
  routes/userProfile.js
  routes/videoHandler.js
  views/promotionVideo.jade
  views/themes/themes.js
  views/userProfile.jade
Labels: size/XL

#924 Facelift: Minor adjustments/improvements + display of the account menu in the Sidenav on small displays
  frontend/src/app/last-login-ip/last-login-ip.component.scss
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/sidenav/sidenav.component.html
  frontend/src/app/sidenav/sidenav.component.scss
  frontend/src/app/sidenav/sidenav.component.spec.ts
  frontend/src/app/sidenav/sidenav.component.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.scss
Labels: size/L

#927 refactor(forms): Sidebar customization + various style changes
  frontend/src/app/forgot-password/forgot-password.component.html
  frontend/src/app/forgot-password/forgot-password.component.scss
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/sidenav/sidenav.component.html
  frontend/src/app/sidenav/sidenav.component.scss
  frontend/src/app/sidenav/sidenav.component.ts
  frontend/src/assets/i18n/en.json
Labels: size/L

#934 Password confirm check in Register Component
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.spec.ts
  frontend/src/app/register/register.component.ts
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/en.json
Labels: size/M

#928 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/XS

#936 New Crowdin translations
  frontend/src/assets/i18n/de_DE.json
Labels: size/XS

#939 2fa Setup & Disable Features
  frontend/src/app/Services/two-factor-auth-service.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.html
  frontend/src/app/two-factor-auth/two-factor-auth.component.scss
  frontend/src/app/two-factor-auth/two-factor-auth.component.spec.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.ts
  frontend/src/assets/i18n/en.json
  lib/insecurity.js
  routes/2fa.js
  server.js
  test/api/2faSpec.js
  test/e2e/2faSetupSpec.js
  test/e2e/_sharedSpec.js
Labels: size/XL

#938 Added Reviews to Data Export
  routes/dataExport.js
Labels: size/S

#940 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/L

#946 Optimize Data Export Code
  routes/dataExport.js
Labels: size/M

#951 dataExportApiSpec.js: Tests considering export of user reviews
  test/api/dataExportApiSpec.js
Labels: size/M

#957 Remove duplicated condition
  routes/verify.js
Labels: size/XS

#947 Implementation of Data Export Challenge
  config/fbctf.yml
  data/static/challenges.yml
  frontend/package-lock.json
  frontend/src/app/data-export/data-export.component.html
  frontend/src/app/register/register.component.html
  package-lock.json
  routes/dataExport.js
  test/e2e/dataExportSpec.js
Labels: size/M

#953 New Crowdin translations
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/tlh_AA.json
Labels: size/XS
