Repository juice-shop/juice-shop, pull requests merged in 2019-10, with the labels that each got.

#1227 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/no_NO.json
Labels: size/S

#1228 New Crowdin translations
  data/static/i18n/es_ES.json
  frontend/src/assets/i18n/es_ES.json
Labels: size/XS

#1230 New Crowdin translations
  data/static/i18n/de_DE.json
Labels: size/XS

#1231 New Crowdin translations
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lt_LT.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/ur_PK.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
Labels: size/L

#1234 New Crowdin translations
  data/static/i18n/de_DE.json
Labels: size/S

#1235 Fix OpenShift crash on container startup
  Dockerfile
Labels: bug, docker

#1237 New Crowdin translations
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lt_LT.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/ur_PK.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  frontend/src/assets/i18n/tlh_AA.json
Labels: size/M

#1244 Update pt_PT.json
  frontend/src/assets/i18n/pt_PT.json
Labels: hacktoberfest, size/L
