Repository juice-shop/juice-shop, pull requests merged in 2019-08, with the labels that each got.

#1179 Make icons green according to the status of order.
  data/datacreator.js
  data/static/users.yml
  frontend/src/app/app.routing.ts
  frontend/src/app/order-completion/order-completion.component.html
  frontend/src/app/track-result/track-result.component.html
  frontend/src/app/track-result/track-result.component.ts
  routes/orderHistory.js
Labels: size/M

#1182 New Crowdin translations
  frontend/src/assets/i18n/zh_CN.json
Labels: size/M

#1180 Implement Photo wall
  frontend/src/app/Services/photo-wall.service.spec.ts
  frontend/src/app/Services/photo-wall.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/order-history/order-history.component.html
  frontend/src/app/photo-wall/mime-type.validator.ts
  frontend/src/app/photo-wall/photo-wall.component.html
  frontend/src/app/photo-wall/photo-wall.component.scss
  frontend/src/app/photo-wall/photo-wall.component.spec.ts
  frontend/src/app/photo-wall/photo-wall.component.ts
  frontend/src/app/sidenav/sidenav.component.html
  frontend/src/assets/i18n/en.json
  models/memory.js
  routes/memory.js
  server.js
  test/api/memoryApiSpec.js
Labels: size/XL

#1184 Merge payment routes
  data/static/users.yml
  frontend/src/app/Services/user.service.spec.ts
  frontend/src/app/Services/user.service.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/basket/basket.component.spec.ts
  frontend/src/app/basket/basket.component.ts
  frontend/src/app/delivery-method/delivery-method.component.spec.ts
  frontend/src/app/delivery-method/delivery-method.component.ts
  frontend/src/app/deluxe-user/deluxe-user.component.spec.ts
  frontend/src/app/deluxe-user/deluxe-user.component.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/order-summary/order-summary.component.html
  frontend/src/app/order-summary/order-summary.component.spec.ts
  frontend/src/app/order-summary/order-summary.component.ts
  frontend/src/app/payment/payment.component.html
  frontend/src/app/payment/payment.component.scss
  frontend/src/app/payment/payment.component.spec.ts
  frontend/src/app/payment/payment.component.ts
  frontend/src/app/wallet/wallet.component.html
  frontend/src/app/wallet/wallet.component.spec.ts
  frontend/src/app/wallet/wallet.component.ts
  frontend/src/assets/i18n/en.json
  routes/deluxe.js
  routes/order.js
  server.js
  test/api/deluxeApiSpec.js
  test/e2e/basketSpec.js
Labels: size/XL

#1188 Reduce docker image size
  .dockerignore
  Dockerfile
Labels: bug, docker, size/S

#1187 Add address to recycle component
  frontend/src/app/address-select/address-select.component.spec.ts
  frontend/src/app/address/address.component.html
  frontend/src/app/address/address.component.scss
  frontend/src/app/address/address.component.spec.ts
  frontend/src/app/address/address.component.ts
  frontend/src/app/recycle/recycle.component.html
  frontend/src/app/recycle/recycle.component.scss
  frontend/src/app/recycle/recycle.component.spec.ts
  frontend/src/app/recycle/recycle.component.ts
  frontend/src/app/saved-address/saved-address.component.spec.ts
  models/recycle.js
  test/api/recycleApiSpec.js
Labels: size/L

#1189 Deals & Offers for deluxe members
  config/default.yml
  data/datacreator.js
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.guard.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/basket/basket.component.spec.ts
  frontend/src/app/navbar/navbar.component.spec.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/order-summary/order-summary.component.spec.ts
  frontend/src/app/purchase-basket/purchase-basket.component.spec.ts
  frontend/src/app/purchase-basket/purchase-basket.component.ts
  frontend/src/app/search-result/search-result.component.html
  frontend/src/app/search-result/search-result.component.spec.ts
  frontend/src/app/search-result/search-result.component.ts
  models/product.js
  routes/order.js
  test/api/productApiSpec.js
  test/api/searchApiSpec.js
  test/e2e/searchSpec.js
Labels: size/L

#1191 Fix code errors
  frontend/src/app/deluxe-user/deluxe-user.component.html
  frontend/src/app/deluxe-user/deluxe-user.component.scss
  frontend/src/styles.scss
Labels: size/S

#1190 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/XXL

#1199 Fix docker container crashes
  Dockerfile
Labels: bug, critical, docker, size/XS

#1204 Split DockerHub smoke tests into app and test runner service
  .travis.yml
  docker-compose.test.yml
  test/smoke-test/Dockerfile
  test/smoke-test/smoke-test.sh
Labels: size/S

#1200 New Crowdin translations
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fr_FR.json
Labels: size/S
