Repository juice-shop/juice-shop, pull requests merged in 2019-06, with the labels that each got.

#1074 New Crowdin translations
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/lt_LT.json
Labels: size/XS

#1075 Close all notifications when the shift key is pressed
  frontend/src/app/challenge-solved-notification/challenge-solved-notification.component.html
  frontend/src/app/challenge-solved-notification/challenge-solved-notification.component.spec.ts
  frontend/src/app/challenge-solved-notification/challenge-solved-notification.component.ts
Labels: size/M

#1076 Frisby fix actual return code
  package.json
  server.js
Labels: size/XS

#1077 style(common): customize the deepindigo theme
  frontend/src/theme.scss
Labels: size/XS

#1079 Getting the GitHub ribbon on the ScorePage to respect the config.
  frontend/src/app/score-board/score-board.component.html
  frontend/src/app/score-board/score-board.component.spec.ts
  frontend/src/app/score-board/score-board.component.ts
Labels: size/S

#1082 New Crowdin translations
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/tr_TR.json
Labels: size/S

#1089 Improved how previously shown notifications get detected
  lib/utils.js
Labels: size/XS

#1096 Fix challenge solved notification not beeing send
  lib/utils.js
Labels: size/XS

#1091 Starting to add a welcome SnackBar. Shows pop-up
  config/default.yml
  frontend/src/app/app.component.html
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/welcome-banner/welcome-banner.component.html
  frontend/src/app/welcome-banner/welcome-banner.component.spec.ts
  frontend/src/app/welcome-banner/welcome-banner.component.ts
  frontend/src/app/welcome-banner/welcome.component.html
  frontend/src/app/welcome-banner/welcome.component.spec.ts
  frontend/src/app/welcome-banner/welcome.component.ts
  frontend/src/assets/i18n/en.json
  package.json
  protractor.conf.js
  test/e2e/_sharedSpec.js
Labels: size/L

#1098 Refactor file upload
  routes/fileUpload.js
  server.js
  test/server/fileUploadSpec.js
Labels: size/L

#1095 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/L

#1094 Custom app name in 2fa setup string
  frontend/src/app/Services/configuration.service.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.ts
Labels: size/M

#1103 New Crowdin translations
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/lt_LT.json
Labels: size/XS

#1111 Facelift: Various adjustments and improvements + bug fixing
  frontend/src/app/forgot-password/forgot-password.component.html
  frontend/src/app/forgot-password/forgot-password.component.spec.ts
  frontend/src/app/login/login.component.html
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/product-details/product-details.component.html
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.spec.ts
  frontend/src/app/register/register.component.ts
  frontend/src/app/search-result/search-result.component.ts
  frontend/src/app/welcome-banner/welcome-banner.component.spec.ts
  frontend/src/app/welcome-banner/welcome-banner.component.ts
  frontend/src/app/welcome/welcome.component.spec.ts
  frontend/src/app/welcome/welcome.component.ts
  frontend/src/assets/i18n/en.json
Labels: size/L

#1117 Facelift: Fix some minor Styling issues
  frontend/src/app/login/login.component.scss
  frontend/src/app/navbar/navbar.component.html
Labels: size/S

#1118 Fix for hacking instructor issues after faclift merge
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/search-result/search-result.component.html
  frontend/src/hacking-instructor/challenges/localXss.ts
  frontend/src/hacking-instructor/challenges/loginAdmin.ts
  frontend/src/hacking-instructor/helpers/helpers.ts
Labels: size/M

#1113 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/XL

#1123 Add quantity labels
  frontend/src/app/search-result/search-result.component.html
  frontend/src/app/search-result/search-result.component.scss
  frontend/src/app/search-result/search-result.component.spec.ts
  frontend/src/app/search-result/search-result.component.ts
  frontend/src/assets/i18n/en.json
  frontend/src/styles.scss
  server.js
  test/api/quantityApiSpec.js
  test/e2e/restApiSpec.js
Labels: size/L

#1127 Quantity refactoring
  config/default.yml
  data/datacreator.js
Labels: size/XS

#1122 New Crowdin translations
  frontend/src/assets/i18n/el_GR.json
Labels: size/S

#1128 Facelift: various adjustments and improvements
  frontend/src/app/Services/snack-bar-helper.service.spec.ts
  frontend/src/app/Services/snack-bar-helper.service.ts
  frontend/src/app/change-password/change-password.component.html
  frontend/src/app/change-password/change-password.component.scss
  frontend/src/app/contact/contact.component.html
  frontend/src/app/contact/contact.component.scss
  frontend/src/app/contact/contact.component.spec.ts
  frontend/src/app/contact/contact.component.ts
  frontend/src/app/data-export/data-export.component.html
  frontend/src/app/data-export/data-export.component.scss
  frontend/src/app/data-export/data-export.component.spec.ts
  frontend/src/app/data-export/data-export.component.ts
  frontend/src/app/forgot-password/forgot-password.component.html
  frontend/src/app/forgot-password/forgot-password.component.scss
  frontend/src/app/last-login-ip/last-login-ip.component.html
  frontend/src/app/last-login-ip/last-login-ip.component.scss
  frontend/src/app/login/login.component.scss
  frontend/src/app/privacy-policy/privacy-policy.component.html
  frontend/src/app/privacy-policy/privacy-policy.component.scss
  frontend/src/app/privacy-policy/privacy-policy.component.spec.ts
  frontend/src/app/product-details/product-details.component.ts
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.scss
  frontend/src/app/register/register.component.ts
  frontend/src/app/sidenav/sidenav.component.html
  frontend/src/app/sidenav/sidenav.component.scss
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.html
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.scss
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.spec.ts
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.html
  frontend/src/app/two-factor-auth/two-factor-auth.component.scss
  frontend/src/app/two-factor-auth/two-factor-auth.component.spec.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.ts
  frontend/src/assets/i18n/en.json
  frontend/src/index.html
  routes/2fa.js
  views/promotionVideo.pug
  views/userProfile.pug
Labels: size/XL

#1129 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/S

#1132 Facelift: Adaptations, improvements and troubleshooting
  frontend/src/app/about/about.component.html
  frontend/src/app/about/about.component.scss
  frontend/src/app/about/about.component.ts
  frontend/src/app/challenge-solved-notification/challenge-solved-notification.component.html
  frontend/src/app/change-password/change-password.component.html
  frontend/src/app/change-password/change-password.component.spec.ts
  frontend/src/app/change-password/change-password.component.ts
  frontend/src/app/complaint/complaint.component.html
  frontend/src/app/complaint/complaint.component.scss
  frontend/src/app/contact/contact.component.html
  frontend/src/app/contact/contact.component.ts
  frontend/src/app/data-export/data-export.component.html
  frontend/src/app/erasure-request/erasure-request.component.html
  frontend/src/app/erasure-request/erasure-request.component.scss
  frontend/src/app/erasure-request/erasure-request.component.ts
  frontend/src/app/error-page/error-page.component.html
  frontend/src/app/error-page/error-page.component.scss
  frontend/src/app/forgot-password/forgot-password.component.html
  frontend/src/app/forgot-password/forgot-password.component.scss
  frontend/src/app/forgot-password/forgot-password.component.spec.ts
  frontend/src/app/forgot-password/forgot-password.component.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/privacy-policy/privacy-policy.component.scss
  frontend/src/app/product-details/product-details.component.html
  frontend/src/app/register/register.component.html
  frontend/src/app/server-started-notification/server-started-notification.component.html
  frontend/src/app/sidenav/sidenav.component.html
  frontend/src/app/sidenav/sidenav.component.ts
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.html
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.scss
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.spec.ts
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.html
  frontend/src/app/two-factor-auth/two-factor-auth.component.spec.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.ts
  frontend/src/assets/i18n/en.json
  frontend/src/assets/public/images/carousel/5.png
  frontend/src/assets/public/images/products/coaster.png
  frontend/src/assets/public/images/products/no-results.png
  frontend/src/assets/public/images/products/sticker.png
  frontend/src/assets/public/images/products/waspy.png
  test/e2e/contactSpec.js
  test/e2e/forgotPasswordSpec.js
Labels: size/L

#1136 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/L

#1142 New Crowdin translations
  frontend/src/assets/i18n/et_EE.json
Labels: size/XS

#1120 Implementation of Payment Method Component
  frontend/src/app/Services/payment.service.spec.ts
  frontend/src/app/Services/payment.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/payment-method/payment-method.component.html
  frontend/src/app/payment-method/payment-method.component.scss
  frontend/src/app/payment-method/payment-method.component.spec.ts
  frontend/src/app/payment-method/payment-method.component.ts
  frontend/src/app/payment/payment.component.html
  frontend/src/app/payment/payment.component.scss
  frontend/src/app/payment/payment.component.spec.ts
  frontend/src/app/payment/payment.component.ts
  frontend/src/app/saved-payment-methods/saved-payment-methods.component.html
  frontend/src/app/saved-payment-methods/saved-payment-methods.component.scss
  frontend/src/app/saved-payment-methods/saved-payment-methods.component.spec.ts
  frontend/src/app/saved-payment-methods/saved-payment-methods.component.ts
  frontend/src/assets/i18n/en.json
  lib/insecurity.js
  models/card.js
  routes/payment.js
  server.js
  test/api/paymentApiSpec.js
Labels: size/XXL

#1141 Facelift: Some styling adjustments and minor improvements
  frontend/src/app/data-export/data-export.component.html
  frontend/src/app/data-export/data-export.component.scss
  frontend/src/app/data-export/data-export.component.spec.ts
  frontend/src/app/data-export/data-export.component.ts
  frontend/src/app/last-login-ip/last-login-ip.component.html
  frontend/src/app/last-login-ip/last-login-ip.component.ts
  frontend/src/app/login/login.component.html
  frontend/src/app/login/login.component.spec.ts
  frontend/src/app/oauth/oauth.component.spec.ts
  frontend/src/app/privacy-policy/privacy-policy.component.html
  frontend/src/app/privacy-policy/privacy-policy.component.scss
  frontend/src/app/search-result/search-result.component.html
  frontend/src/app/search-result/search-result.component.scss
  frontend/src/app/welcome-banner/welcome-banner.component.html
  frontend/src/app/welcome-banner/welcome-banner.component.scss
  frontend/src/assets/i18n/en.json
  frontend/src/assets/private/JuiceShop_Wallpaper_1920x1080_VR.jpg
  frontend/src/assets/private/earth_normalmap_flat4k.jpg
  frontend/src/assets/private/earthspec4k.jpg
  frontend/src/assets/private/orangemap2k.jpg
  frontend/src/assets/private/starry_background.jpg
  frontend/src/assets/public/images/JuiceShopCTF_Logo.png
  frontend/src/assets/public/images/JuiceShop_Logo.png
  frontend/src/assets/public/images/JuiceShop_Logo_50px.png
  frontend/src/assets/public/images/padding/19px.png
  frontend/src/assets/public/images/padding/1px.png
  frontend/src/assets/public/images/padding/56px.png
  frontend/src/assets/public/images/padding/81px.png
  frontend/src/assets/public/images/uploads/12.jpg
  frontend/src/assets/public/images/uploads/13.jpg
  frontend/src/assets/public/images/uploads/default.svg
  frontend/src/styles.scss
  frontend/src/theme.scss
  screenshots/screenshot01.png
  screenshots/screenshot02.png
  screenshots/screenshot03.png
  screenshots/screenshot04.png
  screenshots/screenshot05.png
  views/promotionVideo.pug
  views/userProfile.pug
Labels: size/L

#1108 Add address component
  frontend/src/app/Services/address.service.spec.ts
  frontend/src/app/Services/address.service.ts
  frontend/src/app/address-create/address-create.component.html
  frontend/src/app/address-create/address-create.component.scss
  frontend/src/app/address-create/address-create.component.spec.ts
  frontend/src/app/address-create/address-create.component.ts
  frontend/src/app/address-select/address-select.component.html
  frontend/src/app/address-select/address-select.component.scss
  frontend/src/app/address-select/address-select.component.spec.ts
  frontend/src/app/address-select/address-select.component.ts
  frontend/src/app/address/address.component.html
  frontend/src/app/address/address.component.scss
  frontend/src/app/address/address.component.spec.ts
  frontend/src/app/address/address.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/saved-address/saved-address.component.html
  frontend/src/app/saved-address/saved-address.component.scss
  frontend/src/app/saved-address/saved-address.component.spec.ts
  frontend/src/app/saved-address/saved-address.component.ts
  frontend/src/assets/i18n/en.json
  models/address.js
  routes/address.js
  server.js
  test/api/addressApiSpec.js
Labels: size/XXL

#1145 Fix typo
  config/default.yml
Labels: size/XS
