Repository juice-shop/juice-shop, pull requests merged in 2019-07, with the labels that each got.

#1121 Add Order Summary Page
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/order-summary/order-summary.component.html
  frontend/src/app/order-summary/order-summary.component.scss
  frontend/src/app/order-summary/order-summary.component.spec.ts
  frontend/src/app/order-summary/order-summary.component.ts
  frontend/src/app/purchase-basket/purchase-basket.component.html
  frontend/src/app/purchase-basket/purchase-basket.component.scss
  frontend/src/app/purchase-basket/purchase-basket.component.spec.ts
  frontend/src/app/purchase-basket/purchase-basket.component.ts
  frontend/src/assets/i18n/en.json
Labels: size/L

#1151 Fix Build: Modify Data Type
  frontend/src/app/search-result/search-result.component.ts
Labels: size/XS

#1143 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/M

#1130 Add Order Confirmation Page
  frontend/src/app/address-create/address-create.component.spec.ts
  frontend/src/app/address-select/address-select.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/order-completion/order-completion.component.html
  frontend/src/app/order-completion/order-completion.component.scss
  frontend/src/app/order-completion/order-completion.component.spec.ts
  frontend/src/app/order-completion/order-completion.component.ts
  frontend/src/app/saved-address/saved-address.component.spec.ts
  frontend/src/app/saved-payment-methods/saved-payment-methods.component.spec.ts
  frontend/src/assets/i18n/en.json
Labels: size/L

#1157 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/M

#1158 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/M

#1159 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/M

#1152 Payment component
  frontend/src/app/Services/basket.service.ts
  frontend/src/app/address-select/address-select.component.spec.ts
  frontend/src/app/address-select/address-select.component.ts
  frontend/src/app/basket/basket.component.html
  frontend/src/app/basket/basket.component.spec.ts
  frontend/src/app/basket/basket.component.ts
  frontend/src/app/order-completion/order-completion.component.html
  frontend/src/app/order-completion/order-completion.component.spec.ts
  frontend/src/app/order-completion/order-completion.component.ts
  frontend/src/app/order-summary/order-summary.component.html
  frontend/src/app/order-summary/order-summary.component.spec.ts
  frontend/src/app/order-summary/order-summary.component.ts
  frontend/src/app/payment/payment.component.html
  frontend/src/app/payment/payment.component.spec.ts
  frontend/src/app/payment/payment.component.ts
  frontend/src/app/purchase-basket/purchase-basket.component.html
  frontend/src/app/purchase-basket/purchase-basket.component.scss
  frontend/src/app/purchase-basket/purchase-basket.component.ts
  frontend/src/assets/i18n/en.json
  routes/order.js
  test/api/basketApiSpec.js
  test/e2e/basketSpec.js
Labels: size/XXL

#1169 New Crowdin translations
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/XXL

#1170 Pre-store Addresses and Cards, Change card expiry year range
  data/datacreator.js
  data/static/users.yml
  frontend/src/app/payment-method/payment-method.component.spec.ts
  frontend/src/app/payment-method/payment-method.component.ts
  models/card.js
  test/api/addressApiSpec.js
  test/api/paymentApiSpec.js
Labels: size/L

#1168 Implement Delivery methods
  data/datacreator.js
  data/static/delivery.yml
  data/static/users.yml
  frontend/src/app/Models/deliveryMethod.model.ts
  frontend/src/app/Services/basket.service.ts
  frontend/src/app/Services/delivery.service.spec.ts
  frontend/src/app/Services/delivery.service.ts
  frontend/src/app/address-create/address-create.component.spec.ts
  frontend/src/app/address-create/address-create.component.ts
  frontend/src/app/address-select/address-select.component.spec.ts
  frontend/src/app/address-select/address-select.component.ts
  frontend/src/app/address/address.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/delivery-method/delivery-method.component.html
  frontend/src/app/delivery-method/delivery-method.component.scss
  frontend/src/app/delivery-method/delivery-method.component.spec.ts
  frontend/src/app/delivery-method/delivery-method.component.ts
  frontend/src/app/order-completion/order-completion.component.html
  frontend/src/app/order-completion/order-completion.component.spec.ts
  frontend/src/app/order-completion/order-completion.component.ts
  frontend/src/app/order-summary/order-summary.component.html
  frontend/src/app/order-summary/order-summary.component.spec.ts
  frontend/src/app/order-summary/order-summary.component.ts
  frontend/src/assets/i18n/en.json
  lib/insecurity.js
  models/address.js
  models/delivery.js
  routes/delivery.js
  routes/order.js
  server.js
  test/api/addressApiSpec.js
  test/api/deliveryApiSpec.js
Labels: size/XL

#1171 Implement Order History
  data/datacreator.js
  frontend/src/app/Services/order-history.service.spec.ts
  frontend/src/app/Services/order-history.service.ts
  frontend/src/app/accounting/accounting.component.html
  frontend/src/app/accounting/accounting.component.scss
  frontend/src/app/accounting/accounting.component.spec.ts
  frontend/src/app/accounting/accounting.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/order-history/order-history.component.html
  frontend/src/app/order-history/order-history.component.scss
  frontend/src/app/order-history/order-history.component.spec.ts
  frontend/src/app/order-history/order-history.component.ts
  frontend/src/app/track-result/track-result.component.html
  frontend/src/assets/i18n/en.json
  routes/order.js
  routes/orderHistory.js
  server.js
  test/api/orderHistoryApiSpec.js
Labels: size/XL

#1172 New Crowdin translations
  frontend/src/assets/i18n/et_EE.json
Labels: size/M

#1174 Implement Digital Wallet View
  data/datacreator.js
  data/static/users.yml
  frontend/src/app/Services/wallet.service.spec.ts
  frontend/src/app/Services/wallet.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/wallet/wallet.component.html
  frontend/src/app/wallet/wallet.component.scss
  frontend/src/app/wallet/wallet.component.spec.ts
  frontend/src/app/wallet/wallet.component.ts
  frontend/src/assets/i18n/en.json
  models/wallet.js
  routes/order.js
  routes/wallet.js
  server.js
Labels: size/L

#1175 New Crowdin translations
  frontend/src/assets/i18n/ko_KR.json
Labels: size/S

#1177 Reduce the number of score board challenge status api calls
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/sidenav/sidenav.component.ts
Labels: size/S, technical debt
