Repository juice-shop/juice-shop, pull requests merged in 2020-09, with the labels that each got.

#1455 New Crowdin updates
  frontend/src/assets/i18n/et_EE.json
Labels: size/S

#1459 Update juicy-chat-bot dependency
  data/static/botDefaultTrainingData.json
  package.json
  routes/chatbot.js
  test/api/chatBotSpec.js
Labels: size/L

#1458 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/hy_AM.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/M

#1460 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/hy_AM.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/M

#1463 New Crowdin updates
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/th_TH.json
Labels: size/L

#1464 New Crowdin updates
  frontend/src/assets/i18n/zh_CN.json
Labels: size/XS

#1467 Update Container User to run with runAsNonRoot Flag in Kubernetes
  Dockerfile
Labels: docker, size/XS

#1470 Collect Prometheus Metrics on the Startup Duration
  monitoring/grafana-dashboard.json
  server.js
Labels: size/L

#1468 New Crowdin updates
  data/static/i18n/ko_KR.json
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#1478 Asyncronise Fixes & Minor Improvments
  .dockerignore
  data/datacreator.js
  lib/startup/restoreOverwrittenFilesWithOriginals.js
  lib/startup/validatePreconditions.js
  server.js
Labels: size/L

#1475 New Crowdin updates
  data/static/i18n/zh_TW.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#1472 Fix alternate path for deluxe fraud
  frontend/src/app/Services/user.service.spec.ts
  frontend/src/app/Services/user.service.ts
  frontend/src/app/payment/payment.component.ts
  routes/deluxe.js
  test/api/deluxeApiSpec.js
Labels: size/L

#1479 New Crowdin updates
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L
