Repository juice-shop/juice-shop, pull requests merged in 2020-10, with the labels that each got.

#1480 New Crowdin updates
  frontend/src/assets/i18n/zh_TW.json
Labels: size/S

#1482 New Crowdin updates
  frontend/src/assets/i18n/tlh_AA.json
Labels: size/S

#1483 New Crowdin updates
  frontend/src/assets/i18n/tlh_AA.json
Labels: size/XS

#1484 New Crowdin updates
  data/static/i18n/et_EE.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/tlh_AA.json
Labels: size/M

#1485 New Crowdin updates
  frontend/src/assets/i18n/zh_TW.json
Labels: size/XXL

#1473 Fix Checkout without having enough money
  frontend/src/app/order-summary/order-summary.component.ts
  frontend/src/app/payment/payment.component.ts
  frontend/src/assets/i18n/en.json
  routes/order.js
Labels: size/S

#1486 New Crowdin updates
  data/static/i18n/et_EE.json
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#1487 New Crowdin updates
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/th_TH.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  data/static/i18n/zh_TW.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#1489 New Crowdin updates
  data/static/i18n/th_TH.json
  data/static/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/M

#1490 New Crowdin updates
  data/static/i18n/nl_NL.json
  data/static/i18n/zh_TW.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/XL

#1495 New Crowdin updates
  data/static/i18n/zh_TW.json
Labels: size/M

#1499 New Crowdin updates
  data/static/i18n/zh_TW.json
Labels: size/M

#1503 :sparkles: other(Cards API): masking card number on server side
  frontend/src/app/order-summary/order-summary.component.spec.ts
  frontend/src/app/payment-method/payment-method.component.spec.ts
  frontend/src/app/payment-method/payment-method.component.ts
  routes/payment.js
Labels: size/S
