Repository juice-shop/juice-shop, pull requests merged in 2020-05, with the labels that each got.

#1381 New Crowdin translations
  data/static/i18n/et_EE.json
Labels: size/M

#1383 New Crowdin translations
  frontend/src/assets/i18n/de_DE.json
Labels: size/XS

#1387 Add links to juicy-malware arm binaries
  ftp/quarantine/juicy_malware_linux_64.url
  ftp/quarantine/juicy_malware_linux_amd_64.url
  ftp/quarantine/juicy_malware_linux_arm_64.url
  test/api/ftpFolderSpec.js
Labels: size/M

#1390 Disallow closing the welcome banner when restrictToTutorialsFirst is enabled
  frontend/src/app/welcome-banner/welcome-banner.component.html
  frontend/src/app/welcome-banner/welcome-banner.component.ts
Labels: size/XS

#1386 New Crowdin translations
  data/static/i18n/fr_FR.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/it_IT.json
Labels: size/S

#1391 New Crowdin translations
  frontend/src/assets/i18n/et_EE.json
Labels: size/S

#1396 New Crowdin translations
  data/static/i18n/th_TH.json
  frontend/src/assets/i18n/th_TH.json
Labels: size/XL
