Repository juice-shop/juice-shop, pull requests merged in 2020-02, with the labels that each got.

#1287 New Crowdin translations
  data/static/i18n/zh_CN.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/zh_CN.json
Labels: size/XS

#1297 feat(frontend/src/app/register): adding login link to register form
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.scss
  frontend/src/assets/i18n/en.json
Labels: size/S

#1299 Add exposed metrics challenge
  config.schema.yml
  config/fbctf.yml
  data/static/challenges.yml
  package.json
  routes/metrics.js
  server.js
  test/api/metricsAPISpec.js
  test/e2e/metricsSpec.js
Labels: size/M

#1307 Get logo on profile page from config
  routes/userProfile.js
  views/userProfile.pug
Labels: size/XS

#1300 New Crowdin translations
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lt_LT.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/ur_PK.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/zh_CN.json
Labels: size/XS

#1308 Ignore prometheus scraper for metrics challenge
  routes/metrics.js
Labels: size/XS

#1317 ViewBasket Hacking Instructor script for issue #1277
  frontend/src/hacking-instructor/challenges/viewBasket.ts
  frontend/src/hacking-instructor/index.ts
Labels: size/M

#1319 New Crowdin translations
  data/static/i18n/es_ES.json
  frontend/src/assets/i18n/es_ES.json
Labels: size/M

#1320 forgedFeedback hacking instructor script
  frontend/src/hacking-instructor/challenges/forgedFeedback.ts
  frontend/src/hacking-instructor/index.ts
Labels: size/M
