Repository juice-shop/juice-shop, pull requests merged in 2020-12, with the labels that each got.

#1514 Fix Server Crash on Undeliverable Challenge Solved Webhook
  lib/utils.js
  lib/webhook.js
  package.json
  test/server/webhookSpec.js
Labels: size/S

#1515 Add bonus points to already existing orders
  data/datacreator.js
Labels: size/S

#1512 Do not validate challenge if "bid" is "NaN"
  routes/basket.js
Labels: size/XS

#1531 New Crowdin updates
  frontend/src/assets/i18n/fi_FI.json
Labels: size/L

#1517 Clean remaining residue when logging-out
  frontend/src/app/navbar/navbar.component.ts
Labels: size/XS

#1516 Clear token from cookie and local storage to better clean
  frontend/src/app/server-started-notification/server-started-notification.component.ts
Labels: size/XS

#1519 Update basket number of items visible counter after login
  frontend/src/app/Services/basket.service.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/order-summary/order-summary.component.spec.ts
  frontend/src/app/order-summary/order-summary.component.ts
  frontend/src/app/purchase-basket/purchase-basket.component.spec.ts
  frontend/src/app/purchase-basket/purchase-basket.component.ts
  frontend/src/app/search-result/search-result.component.spec.ts
  frontend/src/app/search-result/search-result.component.ts
Labels: size/M

#1524 Fix password hint popup was skipped in "Log in with Bender/Jim's user account"
  frontend/src/hacking-instructor/challenges/loginBender.ts
  frontend/src/hacking-instructor/challenges/loginJim.ts
  frontend/src/hacking-instructor/helpers/helpers.ts
Labels: size/M

#1526 Add fixtureAfter to insert hint after fixture
  frontend/src/hacking-instructor/challenges/forgedFeedback.ts
  frontend/src/hacking-instructor/challenges/loginAdmin.ts
  frontend/src/hacking-instructor/challenges/loginBender.ts
  frontend/src/hacking-instructor/challenges/loginJim.ts
  frontend/src/hacking-instructor/challenges/passwordStrength.ts
  frontend/src/hacking-instructor/challenges/privacyPolicy.ts
  frontend/src/hacking-instructor/challenges/viewBasket.ts
  frontend/src/hacking-instructor/index.ts
Labels: size/S

#1533 Apply product quantity limit per user on a per-order basis
  data/datacreator.js
  models/purchaseQuantity.js
  routes/basketItems.js
  routes/order.js
  server.js
Labels: size/M

#1534 New Crowdin updates
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/tlh_AA.json
Labels: size/M

#1537 New Crowdin updates
  frontend/src/assets/i18n/zh_TW.json
Labels: size/XS

#1536 Fix payment view issues
  frontend/src/app/payment/payment.component.html
  frontend/src/app/payment/payment.component.scss
Labels: size/XS

#1539 New Crowdin updates
  frontend/src/assets/i18n/fi_FI.json
Labels: size/M

#1541 Fix devtools detection perf issue on Firefox
  frontend/src/hacking-instructor/helpers/helpers.ts
Labels: size/XS

#1553 Correct coreteam->admin profile
  HALL_OF_FAME.md
Labels: size/XS

#1552 U
  package.json
  routes/profileImageFileUpload.js
Labels: size/M

#1551 New Crowdin updates
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/th_TH.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  data/static/i18n/zh_TW.json
  frontend/src/assets/i18n/fi_FI.json
Labels: size/L
