Repository juice-shop/juice-shop, pull requests merged in 2020-08, with the labels that each got.

#1433 New Crowdin updates
  data/static/i18n/es_ES.json
  frontend/src/assets/i18n/zh_CN.json
Labels: size/L

#1437 New Crowdin updates
  data/static/i18n/es_ES.json
Labels: size/M

#1439 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/hy_AM.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#1438 Killjuicy challenge
  config/fbctf.yml
  data/static/challenges.yml
  frontend/src/app/chatbot/chatbot.component.html
  routes/chatbot.js
  test/e2e/chatbotSpec.js
Labels: size/M

#1442 New Crowdin updates
  frontend/src/assets/i18n/zh_CN.json
Labels: size/XS

#1449 Fix OWASP Top 10 broken link
  README.md
Labels: size/XS

#1448 New Crowdin updates
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/pt_BR.json
Labels: size/M

#1451 New Crowdin updates
  data/static/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_BR.json
Labels: size/L

#1453 Make chatbot files customizable
  .gitignore
  config.schema.yml
  config/default.yml
  data/chatbot/.gitkeep
  data/static/botDefaultTrainingData.json
  frontend/src/app/chatbot/chatbot.component.html
  frontend/src/app/chatbot/chatbot.component.ts
  frontend/src/assets/i18n/en.json
  lib/startup/customizeApplication.js
  routes/chatbot.js
Labels: size/M
