Repository juice-shop/juice-shop, pull requests merged in 2020-03, with the labels that each got.

#1321 New Crowdin translations
  data/static/i18n/de_CH.json
  data/static/i18n/et_EE.json
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lt_LT.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/ur_PK.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
Labels: size/S

#1323 New Crowdin translations
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lt_LT.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/ur_PK.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  frontend/src/assets/i18n/de_CH.json
Labels: size/L

#1324 New Crowdin translations
  data/static/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_CN.json
Labels: size/S

#1326 New Crowdin translations
  data/static/i18n/et_EE.json
  frontend/src/assets/i18n/et_EE.json
Labels: size/S

#1327 New Crowdin translations
  data/static/i18n/et_EE.json
Labels: size/XS

#1329 New Crowdin translations
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lt_LT.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/ur_PK.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
Labels: size/L

#1330 New Crowdin translations
  data/static/i18n/fr_FR.json
  frontend/src/assets/i18n/fr_FR.json
Labels: size/S

#1332 New Crowdin translations
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lt_LT.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/sv_SE.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/ur_PK.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
Labels: size/XS

#1335 Add direct links for hacking instructor tutorials
  frontend/src/app/app.routing.ts
  frontend/src/app/search-result/search-result.component.ts
Labels: size/S

#1310 Fix JWT challenges
  lib/insecurity.js
  package.json
  routes/2fa.js
  routes/verify.js
  server.js
  test/e2e/forgedJwtSpec.js
  test/server/currentUserSpec.js
  test/server/verifySpec.js
Labels: size/S

#1333 Add free deluxe account challenge
  config.schema.yml
  config/fbctf.yml
  data/datacreator.js
  data/static/challenges.yml
  frontend/src/app/Services/user.service.spec.ts
  frontend/src/app/Services/user.service.ts
  frontend/src/app/payment/payment.component.html
  frontend/src/app/payment/payment.component.spec.ts
  frontend/src/app/payment/payment.component.ts
  lib/insecurity.js
  models/user.js
  routes/deluxe.js
  test/api/deluxeApiSpec.js
  test/api/loginApiSpec.js
  test/e2e/deluxeSpec.js
  test/e2e/loginSpec.js
Labels: size/M

#1336 New Crowdin translations
  data/static/i18n/zh_CN.json
Labels: size/XS

#1341 increase retries on sqlite connection
  models/index.js
Labels: size/XS

#1342 Revert "increase retries on sqlite connection"
  models/index.js
Labels: size/XS

#1343 Update Docker APT references in Vagrant
  vagrant/bootstrap.sh
Labels: size/XS

#1345 add Google Cloud setup instructions
  README.md
Labels: size/S

#1348 New Crowdin translations
  frontend/src/assets/i18n/zh_CN.json
Labels: size/XS

#1350 Fix SQLite database locked error
  models/index.js
Labels: size/XS

#1351 Fix createMemories() to download remote images
  data/datacreator.js
Labels: size/XS

#1354 New Crowdin translations
  frontend/src/assets/i18n/es_ES.json
Labels: size/S

#1355 Add workflow for auto updating the website on release
  .github/workflows/update-www.yml
Labels: size/M

#1357 Change OWASP Badge Link to new OWASP Website
  README.md
Labels: documentation, size/XS
