Repository juice-shop/juice-shop, pull requests merged in 2021-05, with the labels that each got.

#1625 fix: handle unhandled promise rejection in basket items
  routes/basketItems.ts
Labels: size/XS

#1623 New Crowdin updates
  data/static/i18n/da_DK.json
  data/static/i18n/fr_FR.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/fr_FR.json
Labels: size/XL

#1627 New Crowdin updates
  data/static/i18n/da_DK.json
Labels: size/L
