Repository juice-shop/juice-shop, pull requests merged in 2021-04, with the labels that each got.

#1604 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#1615 Add exifForBlueprintChallenge property and relevant tests
  config.schema.yml
  config/default.yml
  lib/startup/validateConfig.ts
  package.json
  test/server/blueprintSpec.ts
  test/server/configValidationSpec.ts
Labels: size/L

#1617 Added a isUrl function to lib/utils.ts
  data/datacreator.ts
  lib/startup/customizeApplication.ts
  lib/startup/customizeEasterEgg.ts
  lib/utils.ts
  routes/chatbot.ts
  test/server/blueprintSpec.ts
Labels: size/S

#1620 Added a custom fileSniffer and graceful-fs
  package.json
  routes/vulnCodeSnippet.ts
Labels: size/M

#1616 added code to check if lfr is performed
  config/fbctf.yml
  data/static/challenges.yml
  frontend/src/assets/public/css/dataErasure.css
  routes/dataErasure.ts
  test/e2e/dataErasureSpec.ts
  views/dataErasureForm.hbs
  views/dataErasureResult.hbs
Labels: size/L

#1622 New Crowdin updates
  frontend/src/assets/i18n/th_TH.json
Labels: size/M
