Repository juice-shop/juice-shop, pull requests merged in 2021-09, with the labels that each got.

#1665 Added continueCode for the coding challenges with local backup
  frontend/src/app/Models/backup.model.ts
  frontend/src/app/Services/challenge.service.ts
  frontend/src/app/Services/local-backup.service.ts
  frontend/src/app/code-snippet/code-snippet.component.spec.ts
  frontend/src/app/code-snippet/code-snippet.component.ts
  frontend/src/app/server-started-notification/server-started-notification.component.ts
  lib/utils.ts
  routes/continueCode.ts
  routes/restoreProgress.ts
  server.ts
  test/server/continueCodeSpec.ts
Labels: size/L

#1668 Add / Update FixIt Challenges for Union Injection / DB Schema & NoSQLi Challenges
  data/static/codefixes/dbSchemaChallenge_1.ts
  data/static/codefixes/dbSchemaChallenge_2_correct.ts
  data/static/codefixes/dbSchemaChallenge_3.ts
  data/static/codefixes/noSqlReviewsChallenge_1.ts
  data/static/codefixes/noSqlReviewsChallenge_2.ts
  data/static/codefixes/noSqlReviewsChallenge_3_correct.ts
  data/static/codefixes/unionSqlInjectionChallenge_1.ts
  data/static/codefixes/unionSqlInjectionChallenge_2_correct.ts
  data/static/codefixes/unionSqlInjectionChallenge_3.ts
Labels: size/L

#1671 New Crowdin updates
  data/static/i18n/si_LK.json
  frontend/src/assets/i18n/si_LK.json
Labels: size/S

#1680 Fix Bug Causing `GET /snippets` Response To Grow on Every API Call
  package.json
  routes/vulnCodeSnippet.ts
Labels: bug

#1691 Improvements to NoSQL manipulation code fixes
  data/static/codefixes/noSqlReviewsChallenge_1.ts
  data/static/codefixes/noSqlReviewsChallenge_3_correct.ts
Labels: bug
