Repository juice-shop/juice-shop, pull requests merged in 2021-01, with the labels that each got.

#1556 New Crowdin updates
  data/static/i18n/zh_CN.json
  frontend/src/assets/i18n/tr_TR.json
Labels: size/L

#1559 Run unit tests also on Windows
  .github/workflows/ci.yml
Labels: size/XS

#1561 order-history updated
  frontend/src/app/order-history/order-history.component.html
  frontend/src/app/order-history/order-history.component.scss
Labels: size/L

#1571 Add "NoSql Manipulation" video by Hacksplained
  SOLUTIONS.md
Labels: size/XS

#1569 updated sequelize to updated
  models/index.js
  package.json
  test/api/basketItemApiSpec.js
Labels: size/S

#1568 New Crowdin updates
  data/static/i18n/ro_RO.json
Labels: size/S
