Repository juice-shop/juice-shop, pull requests merged in 2021-03, with the labels that each got.

#1596 New Crowdin updates
  data/static/i18n/de_CH.json
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#1600 Added a cancel button to tutorials
  frontend/src/hacking-instructor/index.ts
Labels: size/S

#1601 Minor changes on the cancel button
  frontend/src/hacking-instructor/index.ts
Labels: size/XS

#1603 Switch DataErasure Rendering to HBS Server Side Renderer for Future LFR / RCE Challenge
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/erasure-request/erasure-request.component.html
  frontend/src/app/erasure-request/erasure-request.component.scss
  frontend/src/app/erasure-request/erasure-request.component.spec.ts
  frontend/src/app/erasure-request/erasure-request.component.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/sidenav/sidenav.component.html
  frontend/src/app/sidenav/sidenav.component.ts
  package.json
  public/stylesheets/styles.css
  routes/dataErasure.ts
  server.ts
  views/dataErasureForm.hbs
  views/dataErasureResult.hbs
Labels: size/XL

#1605 Refactor DataErasure Code
  frontend/src/assets/public/css/dataErasure.css
  public/stylesheets/styles.css
  routes/dataErasure.ts
  routes/erasureRequest.ts
  server.ts
  test/api/erasureRequestApiSpec.ts
  views/dataErasureForm.hbs
  views/dataErasureResult.hbs
Labels: size/L

#1612 migrate to ngx-cookie and improve CSRF challenge
  frontend/package.json
  frontend/src/app/Services/local-backup.service.spec.ts
  frontend/src/app/Services/local-backup.service.ts
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/challenge-solved-notification/challenge-solved-notification.component.spec.ts
  frontend/src/app/challenge-solved-notification/challenge-solved-notification.component.ts
  frontend/src/app/chatbot/chatbot.component.spec.ts
  frontend/src/app/chatbot/chatbot.component.ts
  frontend/src/app/deluxe-user/deluxe-user.component.spec.ts
  frontend/src/app/deluxe-user/deluxe-user.component.ts
  frontend/src/app/login/login.component.spec.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/navbar/navbar.component.spec.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/oauth/oauth.component.spec.ts
  frontend/src/app/oauth/oauth.component.ts
  frontend/src/app/payment/payment.component.spec.ts
  frontend/src/app/payment/payment.component.ts
  frontend/src/app/score-board/score-board.component.spec.ts
  frontend/src/app/server-started-notification/server-started-notification.component.spec.ts
  frontend/src/app/server-started-notification/server-started-notification.component.ts
  frontend/src/app/sidenav/sidenav.component.spec.ts
  frontend/src/app/sidenav/sidenav.component.ts
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.spec.ts
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.ts
  frontend/src/app/welcome-banner/welcome-banner.component.spec.ts
  frontend/src/app/welcome-banner/welcome-banner.component.ts
  frontend/src/app/welcome/welcome.component.spec.ts
  frontend/src/app/welcome/welcome.component.ts
  protractor.conf.js
  test/e2e/profileSpec.ts
Labels: size/L
