Repository juice-shop/juice-shop, pull requests merged in 2022-01, with the labels that each got.

#1743 Fix error rendering bug in 'Change Password' form
  frontend/src/app/change-password/change-password.component.ts
Labels: size/XS

#1744 New Crowdin updates
  data/static/i18n/de_DE.json
Labels: size/S

#1748 Added RSN for detecting changes in vuln code snippets
  package.json
  routes/vulnCodeSnippet.ts
  rsn/cache.json
  rsn/rsn-update.ts
  rsn/rsn.ts
  rsn/rsnUtil.ts
  tsconfig.json
Labels: size/L

#1749 Changed the cache structure for RSN diffs
  rsn/cache.json
  rsn/rsnUtil.ts
Labels: size/M

#1747 New Crowdin updates
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/ru_RU.json
Labels: size/M

#1751 New Crowdin updates
  frontend/src/assets/i18n/ru_RU.json
Labels: size/S

#1752 New Crowdin updates
  frontend/src/assets/i18n/ru_RU.json
Labels: size/S

#1753 New Crowdin updates
  frontend/src/assets/i18n/ru_RU.json
Labels: size/S
