Repository juice-shop/juice-shop, pull requests merged in 2022-12, with the labels that each got.

#1933 Fix a few small typos in viewBasket.ts
  README.md
  frontend/src/hacking-instructor/challenges/viewBasket.ts
Labels: size/M

#1934 New Crowdin updates
  data/static/i18n/zh_TW.json
Labels: size/XS

#1937 Fix typo
  frontend/src/app/challenge-solved-notification/challenge-solved-notification.component.ts
  frontend/src/app/code-snippet/code-snippet.component.ts
Labels: size/XS

#1936 New Crowdin updates
  data/static/i18n/zh_TW.json
Labels: size/XS

#1935 continueCode(s) are now fetched from server instead of cookies
  frontend/src/app/Services/local-backup.service.spec.ts
  frontend/src/app/Services/local-backup.service.ts
Labels: challenge, feature, size/S
