Repository juice-shop/juice-shop, pull requests merged in 2022-09, with the labels that each got.

#1873 Migrate register spec & Optimise tests
  cypress/integration/e2e/chatbot.spec.ts
  cypress/integration/e2e/register.spec.ts
  cypress/integration/e2e/search.spec.ts
  cypress/support/commands.ts
  test/e2e/registerSpec.ts
Labels: size/L

#1875 New Crowdin updates
  data/static/i18n/pt_BR.json
Labels: size/XS

#1877 Migrate restApiSpec to Cypress (last migration) 🎉
  cypress/integration/e2e/restApi.spec.ts
  cypress/plugins/index.ts
  test/e2e/e2eHelpers.ts
  test/e2e/restApiSpec.ts
Labels: size/L

#1884 Lint Cypress directory
  cypress/integration/e2e/administration.spec.ts
  cypress/integration/e2e/b2bOrder.spec.ts
  cypress/integration/e2e/basket.spec.ts
  cypress/integration/e2e/changePassword.spec.ts
  cypress/integration/e2e/chatbot.spec.ts
  cypress/integration/e2e/complain.spec.ts
  cypress/integration/e2e/contact.spec.ts
  cypress/integration/e2e/dataErasure.spec.ts
  cypress/integration/e2e/dataExport.spec.ts
  cypress/integration/e2e/deluxe.spec.ts
  cypress/integration/e2e/directAccess.spec.ts
  cypress/integration/e2e/forgedJwt.spec.ts
  cypress/integration/e2e/forgotPassword.spec.ts
  cypress/integration/e2e/geoStalking.spec.ts
  cypress/integration/e2e/login.spec.ts
  cypress/integration/e2e/metrics.spec.ts
  cypress/integration/e2e/noSql.spec.ts
  cypress/integration/e2e/privacyPolicy.spec.ts
  cypress/integration/e2e/profile.spec.ts
  cypress/integration/e2e/publicFtp.spec.ts
  cypress/integration/e2e/redirect.spec.ts
  cypress/integration/e2e/register.spec.ts
  cypress/integration/e2e/restApi.spec.ts
  cypress/integration/e2e/scoreBoard.spec.ts
  cypress/integration/e2e/search.spec.ts
  cypress/integration/e2e/tokenSale.spec.ts
  cypress/integration/e2e/totpSetup.spec.ts
  cypress/integration/e2e/trackOrder.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/support/setup.ts
  package.json
  tsconfig.json
Labels: size/XXL

#1891 Improve Windows system.ini file detection
  lib/utils.ts
  routes/fileUpload.ts
Labels: size/XS

#1892 Fix for issue #1755 - Database Sync and Metrics Race
  data/static/codefixes/exposedMetricsChallenge_1.ts
  data/static/codefixes/exposedMetricsChallenge_3_correct.ts
  routes/metrics.ts
  rsn/cache.json
  server.ts
Labels: size/S

#1888 New Crowdin updates
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/si_LK.json
  data/static/i18n/sv_SE.json
  data/static/i18n/th_TH.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/uk_UA.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  data/static/i18n/zh_TW.json
Labels: size/XL
