Repository juice-shop/juice-shop, pull requests merged in 2022-08, with the labels that each got.

#1855 Change timer limit of customer feedback to 20 seconds
  data/static/challenges.yml
  routes/verify.ts
Labels: size/XS

#1858 New Crowdin updates
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
Labels: size/XS

#1864 New Crowdin updates
  data/static/i18n/de_DE.json
  data/static/i18n/ja_JP.json
  data/static/i18n/zh_CN.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/zh_CN.json
Labels: size/L

#1856 Migrate contact and trackOrder spec
  cypress/integration/e2e/contact.spec.ts
  cypress/integration/e2e/trackOrder.spec.ts
  cypress/plugins/index.ts
  test/e2e/contactSpec.ts
  test/e2e/trackOrderSpec.ts
Labels: size/XL

#1866 New Crowdin updates
  data/static/i18n/de_DE.json
Labels: size/XS

#1869 Reference Article from Cobalt Best Practices
  REFERENCES.md
Labels: size/XS

#1871 Migrate complainSpec & searchSpec
  cypress/integration/e2e/complain.spec.ts
  cypress/integration/e2e/search.spec.ts
  cypress/plugins/index.ts
  test/e2e/complainSpec.ts
  test/e2e/searchSpec.ts
Labels: size/XL

#1872 New Crowdin updates
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/fr_FR.json
  data/static/i18n/nl_NL.json
  data/static/i18n/ro_RO.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_TW.json
Labels: size/S
