Repository juice-shop/juice-shop, pull requests merged in 2022-10, with the labels that each got.

#1895 New Crowdin updates
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
Labels: size/S

#1896 New Crowdin updates
  data/static/i18n/zh_CN.json
Labels: size/XS

#1898 New Crowdin updates
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
Labels: size/XS

#1897 Dynamic Recursion to not Bully the chatbot unnecessarily
  cypress/integration/e2e/chatbot.spec.ts
  cypress/support/commands.ts
  cypress/support/index.ts
Labels: size/S

#1899 New Crowdin updates
  data/static/i18n/de_DE.json
Labels: size/XS

#1900 Remove upload of Cypress Artifacts in GitHub Actions CI
  .github/workflows/ci.yml
Labels: size/S

#1906 New Crowdin updates
  data/static/i18n/zh_CN.json
Labels: size/XS

#1910 Move Cypress from root to test/
  cypress.json
  package.json
  test/cypress/fixtures/example.json
  test/cypress/integration/e2e/administration.spec.ts
  test/cypress/integration/e2e/b2bOrder.spec.ts
  test/cypress/integration/e2e/basket.spec.ts
  test/cypress/integration/e2e/changePassword.spec.ts
  test/cypress/integration/e2e/chatbot.spec.ts
  test/cypress/integration/e2e/complain.spec.ts
  test/cypress/integration/e2e/contact.spec.ts
  test/cypress/integration/e2e/dataErasure.spec.ts
  test/cypress/integration/e2e/dataExport.spec.ts
  test/cypress/integration/e2e/deluxe.spec.ts
  test/cypress/integration/e2e/directAccess.spec.ts
  test/cypress/integration/e2e/forgedJwt.spec.ts
  test/cypress/integration/e2e/forgotPassword.spec.ts
  test/cypress/integration/e2e/geoStalking.spec.ts
  test/cypress/integration/e2e/login.spec.ts
  test/cypress/integration/e2e/metrics.spec.ts
  test/cypress/integration/e2e/noSql.spec.ts
  test/cypress/integration/e2e/privacyPolicy.spec.ts
  test/cypress/integration/e2e/profile.spec.ts
  test/cypress/integration/e2e/publicFtp.spec.ts
  test/cypress/integration/e2e/redirect.spec.ts
  test/cypress/integration/e2e/register.spec.ts
  test/cypress/integration/e2e/restApi.spec.ts
  test/cypress/integration/e2e/scoreBoard.spec.ts
  test/cypress/integration/e2e/search.spec.ts
  test/cypress/integration/e2e/tokenSale.spec.ts
  test/cypress/integration/e2e/totpSetup.spec.ts
  test/cypress/integration/e2e/trackOrder.spec.ts
  test/cypress/plugins/index.ts
  test/cypress/support/commands.ts
  test/cypress/support/index.ts
  test/cypress/support/setup.ts
  test/cypress/tsconfig.json
Labels: size/S

#1912 Fix Chatbot Crash
  routes/chatbot.ts
  routes/dataErasure.ts
  routes/dataExport.ts
  routes/orderHistory.ts
  routes/profileImageFileUpload.ts
  routes/profileImageUrlUpload.ts
  routes/saveLoginIp.ts
  routes/updateUserProfile.ts
  routes/userProfile.ts
  test/api/chatBotSpec.ts
  test/api/deluxeApiSpec.ts
Labels: bug, size/L
