Repository juice-shop/juice-shop, pull requests merged in 2022-06, with the labels that each got.

#1823 Initiate Cypress
  .github/workflows/ci.yml
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/e2e/placeholder.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
Labels: size/L

#1832 Split challenge utils to another file
  lib/botUtils.ts
  lib/challengeUtils.ts
  lib/startup/registerWebsocketEvents.ts
  lib/utils.ts
  models/feedback.ts
  models/product.ts
  models/user.ts
  routes/2fa.ts
  routes/b2bOrder.ts
  routes/basket.ts
  routes/basketItems.ts
  routes/changePassword.ts
  routes/chatbot.ts
  routes/createProductReviews.ts
  routes/currentUser.ts
  routes/dataErasure.ts
  routes/dataExport.ts
  routes/deluxe.ts
  routes/easterEgg.ts
  routes/fileServer.ts
  routes/fileUpload.ts
  routes/likeProductReviews.ts
  routes/login.ts
  routes/metrics.ts
  routes/order.ts
  routes/premiumReward.ts
  routes/privacyPolicyProof.ts
  routes/redirect.ts
  routes/repeatNotification.ts
  routes/resetPassword.ts
  routes/restoreProgress.ts
  routes/saveLoginIp.ts
  routes/search.ts
  routes/showProductReviews.ts
  routes/trackOrder.ts
  routes/updateProductReviews.ts
  routes/updateUserProfile.ts
  routes/userProfile.ts
  routes/verify.ts
  routes/videoHandler.ts
  routes/vulnCodeFixes.ts
  routes/vulnCodeSnippet.ts
Labels: size/XL

#1829 Migrate PrivacyPolicy & DirectAccess tests to Cypress
  .github/workflows/ci.yml
  cypress/integration/e2e/directAccess.spec.ts
  cypress/integration/e2e/placeholder.spec.ts
  cypress/integration/e2e/privacyPolicy.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  test/e2e/directAccessSpec.ts
  test/e2e/privacyPolicySpec.ts
Labels: size/L

#1810 Fix Sqlite Issue on ARM & MacOS by Updating sqlite Version
  Dockerfile
  package.json
  server.ts
Labels: bug, docker, size/S

#1833 More Cypress Test Migrations
  .github/workflows/ci.yml
  cypress.json
  cypress/integration/e2e/administration.spec.ts
  cypress/integration/e2e/changePassword.spec.ts
  cypress/integration/e2e/dataExport.spec.ts
  cypress/integration/e2e/deluxe.spec.ts
  cypress/integration/e2e/forgotPassword.spec.ts
  cypress/integration/e2e/login.spec.ts
  cypress/integration/e2e/metrics.spec.ts
  cypress/integration/e2e/publicFtp.spec.ts
  cypress/integration/e2e/redirect.spec.ts
  cypress/integration/e2e/tokenSale.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/support/setup.ts
  test/e2e/administrationSpec.ts
  test/e2e/changePasswordSpec.ts
  test/e2e/dataExportSpec.ts
  test/e2e/deluxeSpec.ts
  test/e2e/forgotPasswordSpec.ts
  test/e2e/loginSpec.ts
  test/e2e/metricsSpec.ts
  test/e2e/publicFtpSpec.ts
  test/e2e/redirectSpec.ts
  test/e2e/tokenSaleSpec.ts
Labels: size/XXL

#1837 Introduce Cypress Matrix
  .github/workflows/ci.yml
Labels: size/M
