Repository juice-shop/juice-shop, pull requests merged in 2022-11, with the labels that each got.

#1918 Fix CVE-2022-24434
  package.json
  test/api/memoryApiSpec.ts
Labels: size/S

#1920 New Crowdin updates
  frontend/src/assets/i18n/sv_SE.json
Labels: size/M

#1922 New Crowdin updates
  data/static/i18n/ro_RO.json
  data/static/i18n/zh_TW.json
Labels: size/M

#1926 New Crowdin updates
  data/static/i18n/zh_TW.json
Labels: size/XS
