Repository juice-shop/juice-shop, pull requests merged in 2022-03, with the labels that each got.

#1766 New Crowdin updates
  data/static/i18n/ru_RU.json
Labels: stale, size/M

#1778 New Crowdin updates
  data/static/i18n/uk_UA.json
  frontend/src/assets/i18n/uk_UA.json
Labels: size/XL

#1779 New Crowdin updates
  frontend/src/assets/i18n/pt_BR.json
Labels: size/S

#1783 fix(typo): fix typo in response data for createReview
  routes/createProductReviews.ts
Labels: size/XS

#1782 New Crowdin updates
  data/static/i18n/da_DK.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/pt_BR.json
Labels: size/S
