Repository juice-shop/juice-shop, pull requests merged in 2023-05, with the labels that each got.

#2010 New Crowdin updates
  frontend/src/assets/i18n/zh_CN.json
Labels: size/XS

#2016 Dutch translation
  HALL_OF_FAME.md
  REFERENCES.md
  data/static/i18n/nl_NL.json
  screenshots/git-stats.png
Labels: size/XL

#2017 New Crowdin updates
  data/static/i18n/de_CH.json
  data/static/i18n/nl_NL.json
  frontend/src/assets/i18n/de_CH.json
Labels: size/S

#2020 More Dutch translation
  data/static/i18n/nl_NL.json
  frontend/src/assets/i18n/nl_NL.json
Labels: size/L

#2018 Chat bot scrolled down after result
  frontend/src/app/chatbot/chatbot.component.ts
Labels: size/XS
