Repository juice-shop/juice-shop, pull requests merged in 2023-10, with the labels that each got.

#2103 New Crowdin updates
  data/static/i18n/de_DE.json
Labels: size/XS

#2104 New Crowdin updates
  data/static/i18n/de_DE.json
Labels: size/XS

#2105 I18N for Crypto Wallet screen
  frontend/package.json
  frontend/src/app/wallet-web3/wallet-web3.component.html
  frontend/src/app/wallet-web3/wallet-web3.component.ts
  frontend/src/app/wallet-web3/wallet-web3.module.ts
  frontend/src/app/wallet/wallet.component.html
  frontend/src/assets/i18n/en.json
Labels: size/M

#2111 fix: changed rpc end endpoint for node provider to websocket
  lib/startup/validatePreconditions.ts
  routes/nftMint.ts
  routes/web3Wallet.ts
Labels: size/XS

#2115 Fix Devcontainer config file
  .devcontainer.json
Labels: size/XS

#2116 Fixed responsiveness across web3 challenges and juice shop wallet
  frontend/src/app/faucet/faucet.component.scss
  frontend/src/app/nft-unlock/nft-unlock.component.scss
  frontend/src/app/token-sale/token-sale.component.html
  frontend/src/app/token-sale/token-sale.component.scss
  frontend/src/app/wallet-web3/wallet-web3.component.scss
  frontend/src/app/wallet/wallet.component.scss
  frontend/src/app/web3-sandbox/web3-sandbox.component.scss
Labels: size/L

#2109 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/bn_BD.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/ga_IE.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/si_LK.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/uk_UA.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L

#2113 Add i18n to Bee Haven
  frontend/src/app/faucet/faucet.component.html
  frontend/src/app/faucet/faucet.component.ts
  frontend/src/app/faucet/faucet.module.ts
  frontend/src/assets/i18n/en.json
Labels: size/M

#2117 Add i18n to SBT
  frontend/src/app/nft-unlock/nft-unlock.component.html
  frontend/src/assets/i18n/en.json
Labels: size/M

#2118 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/bn_BD.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/ga_IE.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/si_LK.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/uk_UA.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/XL

#2119 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/bn_BD.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/ga_IE.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/si_LK.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/uk_UA.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/L
