Repository juice-shop/juice-shop, pull requests merged in 2023-09, with the labels that each got.

#2081 Fix Docker ARM Issues for Snapshot Images
  Dockerfile
Labels: bug, docker, size/S

#2080 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/bn_BD.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/ga_IE.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/si_LK.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/uk_UA.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/XXL

#2083 Preview ScoreBoard Fixes & Improvements
  frontend/src/app/score-board-preview/components/challenge-card/challenge-card.component.html
  frontend/src/app/score-board-preview/components/challenge-card/challenge-card.component.spec.ts
  frontend/src/app/score-board-preview/components/warning-card/warning-card.component.html
  frontend/src/app/score-board-preview/components/warning-card/warning-card.component.scss
  frontend/src/app/score-board-preview/score-board-preview.component.html
  frontend/src/app/score-board-preview/score-board-preview.component.scss
  frontend/src/app/score-board-preview/score-board-preview.component.spec.ts
  frontend/src/app/score-board-preview/score-board-preview.component.ts
  frontend/src/app/score-board-preview/score-board-preview.module.ts
  lib/challengeUtils.ts
  test/api/socketSpec.ts
  test/api/vulnCodeFixesSpec.ts
  test/api/vulnCodeSnippetSpec.ts
Labels: bug, user interface, size/L

#2066 Web3 Code Sandbox
  config.schema.yml
  config/fbctf.yml
  data/static/challenges.yml
  data/static/codefixes/adminSectionChallenge_1_correct.ts
  data/static/codefixes/adminSectionChallenge_2.ts
  data/static/codefixes/adminSectionChallenge_3.ts
  data/static/codefixes/adminSectionChallenge_4.ts
  data/static/codefixes/scoreBoardChallenge_1_correct.ts
  data/static/codefixes/scoreBoardChallenge_2.ts
  data/static/codefixes/scoreBoardChallenge_3.ts
  frontend/angular.json
  frontend/package.json
  frontend/src/app/app.routing.ts
  frontend/src/app/web3-sandbox/web3-sandbox.component.html
  frontend/src/app/web3-sandbox/web3-sandbox.component.scss
  frontend/src/app/web3-sandbox/web3-sandbox.component.ts
  frontend/src/app/web3-sandbox/web3-sandbox.module.ts
  frontend/src/assets/public/images/padding/11px.png
  frontend/src/styles.scss
  routes/verify.ts
Labels: size/XL

#2101 New Crowdin updates
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/bn_BD.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/ga_IE.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/si_LK.json
  data/static/i18n/sv_SE.json
  data/static/i18n/th_TH.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/uk_UA.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  data/static/i18n/zh_TW.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
Labels: size/XL

#2102 New Crowdin updates
  data/static/i18n/de_DE.json
Labels: size/M
