Repository juice-shop/juice-shop, pull requests merged in 2023-04, with the labels that each got.

#1990 New Crowdin updates
  frontend/src/assets/i18n/de_DE.json
Labels: size/XS

#1998 Fixed Scroll Issue
  frontend/src/app/score-board/score-board.component.html
  frontend/src/app/score-board/score-board.component.spec.ts
  frontend/src/app/score-board/score-board.component.ts
Labels: size/M

#1997 New Crowdin updates
  data/static/i18n/de_DE.json
  data/static/i18n/tr_TR.json
  frontend/src/assets/i18n/tr_TR.json
Labels: size/M

#1996 Consider coding challenges that have overlapping code snippets easier to solve
  lib/antiCheat.ts
  lib/codingChallenges.ts
  routes/vulnCodeSnippet.ts
  rsn/rsnUtil.ts
  test/api/vulnCodeSnippetSpec.ts
Labels: size/L
