Repository juice-shop/juice-shop, pull requests merged in 2023-07, with the labels that each got.

#2035 New Crowdin updates
  data/static/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_BR.json
Labels: size/S

#2042 New Crowdin updates
  data/static/i18n/tr_TR.json
Labels: size/S

#2049 Update angular.json for new node_modules/flag-icons
  frontend/angular.json
  frontend/package.json
Labels: size/XS

#2029 feat: added Riches on Juice Shop challenge
  .gitignore
  config.schema.yml
  config/fbctf.yml
  data/static/challenges.yml
  data/static/codefixes/adminSectionChallenge_1_correct.ts
  data/static/codefixes/adminSectionChallenge_2.ts
  data/static/codefixes/adminSectionChallenge_3.ts
  data/static/codefixes/adminSectionChallenge_4.ts
  data/static/codefixes/scoreBoardChallenge_1_correct.ts
  data/static/codefixes/scoreBoardChallenge_2.ts
  data/static/codefixes/scoreBoardChallenge_3.ts
  data/static/users.yml
  frontend/src/app/Services/keys.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/nft-unlock/nft-unlock.component.html
  frontend/src/app/nft-unlock/nft-unlock.component.scss
  frontend/src/app/nft-unlock/nft-unlock.component.ts
  frontend/src/assets/public/images/products/juicy_chatbot.jpg
  package.json
  routes/checkKeys.ts
  server.ts
Labels: size/L
