Repository juice-shop/juice-shop, pull requests merged in 2023-06, with the labels that each got.

#2022 New Crowdin updates
  data/static/i18n/nl_NL.json
  frontend/src/assets/i18n/nl_NL.json
Labels: size/L

#2027 Improve Performance (drastically) by Reducing Load from FontAwesome Icons
  frontend/src/app/about/about.component.ts
  frontend/src/app/accounting/accounting.component.ts
  frontend/src/app/address/address.component.ts
  frontend/src/app/administration/administration.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/basket/basket.component.ts
  frontend/src/app/challenge-status-badge/challenge-status-badge.component.ts
  frontend/src/app/change-password/change-password.component.ts
  frontend/src/app/chatbot/chatbot.component.ts
  frontend/src/app/complaint/complaint.component.ts
  frontend/src/app/contact/contact.component.ts
  frontend/src/app/delivery-method/delivery-method.component.ts
  frontend/src/app/error-page/error-page.component.ts
  frontend/src/app/forgot-password/forgot-password.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/order-completion/order-completion.component.ts
  frontend/src/app/payment-method/payment-method.component.ts
  frontend/src/app/payment/payment.component.ts
  frontend/src/app/photo-wall/photo-wall.component.ts
  frontend/src/app/product-details/product-details.component.ts
  frontend/src/app/product-review-edit/product-review-edit.component.ts
  frontend/src/app/purchase-basket/purchase-basket.component.ts
  frontend/src/app/qr-code/qr-code.component.ts
  frontend/src/app/recycle/recycle.component.ts
  frontend/src/app/register/register.component.ts
  frontend/src/app/score-board/score-board.component.ts
  frontend/src/app/search-result/search-result.component.ts
  frontend/src/app/token-sale/token-sale.component.ts
  frontend/src/app/track-result/track-result.component.ts
  frontend/src/app/two-factor-auth-enter/two-factor-auth-enter.component.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.ts
  frontend/src/app/user-details/user-details.component.ts
Labels: bug, technical debt, size/M

#2031 build: add BOM files to dist packages
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  Gruntfile.js
  frontend/angular.json
  frontend/package.json
  frontend/webpack.angular.js
  package.json
Labels: size/M
