Repository juice-shop/juice-shop, pull requests merged in 2023-02, with the labels that each got.

#1913 add code fix for weakPassword
  Dockerfile.arm
  HALL_OF_FAME.md
  SECURITY.md
  data/static/codefixes/weakPasswordChallenge.info.yml
  data/static/codefixes/weakPasswordChallenge_1_correct.ts
  data/static/codefixes/weakPasswordChallenge_2.ts
  data/static/codefixes/weakPasswordChallenge_3.ts
  data/static/codefixes/weakPasswordChallenge_4.ts
  frontend/package.json
  frontend/src/app/login/login.component.ts
  models/user.ts
  package.json
  routes/vulnCodeSnippet.ts
  rsn/cache.json
  screenshots/git-stats.png
Labels: size/L

#1968 New Crowdin updates
  data/static/i18n/de_CH.json
  data/static/i18n/ga_IE.json
  frontend/src/assets/i18n/ga_IE.json
Labels: size/XL

#1969 New Crowdin updates
  data/static/i18n/ga_IE.json
  frontend/src/assets/i18n/ga_IE.json
Labels: size/XS

#1961 Make code-fix component remember settings
  frontend/src/app/code-fixes/code-fixes.component.html
  frontend/src/app/code-fixes/code-fixes.component.spec.ts
  frontend/src/app/code-fixes/code-fixes.component.ts
Labels: size/M
