Repository juice-shop/juice-shop, pull requests merged in 2023-12, with the labels that each got.

#2151 Handling of legacy challenge direct links
  frontend/src/app/score-board/score-board.component.spec.ts
  frontend/src/app/score-board/score-board.component.ts
Labels: size/M

#2161 Fix a typo in Restful XSS code fix challenge
  REFERENCES.md
  data/static/codefixes/restfulXssChallenge.info.yml
  data/static/i18n/en.json
Labels: size/XS

#2167 Upgrade to Cypress 13
  REFERENCES.md
  package.json
  test/cypress/e2e/basket.spec.ts
Labels: size/S

#2166 Improve coding challenge
  frontend/src/app/Services/code-fixes.service.ts
  frontend/src/app/code-area/code-area.component.scss
  frontend/src/app/code-fixes/code-fixes.component.html
  frontend/src/app/code-fixes/code-fixes.component.scss
  frontend/src/app/code-fixes/code-fixes.component.spec.ts
  frontend/src/app/code-fixes/code-fixes.component.ts
  frontend/src/app/code-snippet/code-snippet.component.html
  frontend/src/app/code-snippet/code-snippet.component.scss
  frontend/src/app/code-snippet/code-snippet.component.spec.ts
  frontend/src/app/code-snippet/code-snippet.component.ts
Labels: size/L

#2162 New Crowdin updates
  data/static/i18n/ar_SA.json
  data/static/i18n/az_AZ.json
  data/static/i18n/bg_BG.json
  data/static/i18n/bn_BD.json
  data/static/i18n/ca_ES.json
  data/static/i18n/cs_CZ.json
  data/static/i18n/da_DK.json
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  data/static/i18n/el_GR.json
  data/static/i18n/es_ES.json
  data/static/i18n/et_EE.json
  data/static/i18n/fi_FI.json
  data/static/i18n/fr_FR.json
  data/static/i18n/ga_IE.json
  data/static/i18n/he_IL.json
  data/static/i18n/hi_IN.json
  data/static/i18n/hu_HU.json
  data/static/i18n/id_ID.json
  data/static/i18n/it_IT.json
  data/static/i18n/ja_JP.json
  data/static/i18n/ka_GE.json
  data/static/i18n/ko_KR.json
  data/static/i18n/lv_LV.json
  data/static/i18n/my_MM.json
  data/static/i18n/nl_NL.json
  data/static/i18n/no_NO.json
  data/static/i18n/pl_PL.json
  data/static/i18n/pt_BR.json
  data/static/i18n/pt_PT.json
  data/static/i18n/ro_RO.json
  data/static/i18n/ru_RU.json
  data/static/i18n/si_LK.json
  data/static/i18n/sv_SE.json
  data/static/i18n/th_TH.json
  data/static/i18n/tlh_AA.json
  data/static/i18n/tr_TR.json
  data/static/i18n/uk_UA.json
  data/static/i18n/zh_CN.json
  data/static/i18n/zh_HK.json
  data/static/i18n/zh_TW.json
Labels: size/M
