Repository juice-shop/juice-shop, pull requests merged in 2023-08, with the labels that each got.

#2055 New Crowdin updates
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/bn_BD.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/ga_IE.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/si_LK.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/uk_UA.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/M

#2056 New Crowdin updates
  data/static/i18n/ro_RO.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ro_RO.json
Labels: size/L

#2050 Add a new Faucet and Honey Pot NFT Mint Challenge
  config.schema.yml
  config/default.yml
  config/fbctf.yml
  data/static/challenges.yml
  data/static/codefixes/adminSectionChallenge_1_correct.ts
  data/static/codefixes/adminSectionChallenge_2.ts
  data/static/codefixes/adminSectionChallenge_3.ts
  data/static/codefixes/adminSectionChallenge_4.ts
  data/static/codefixes/scoreBoardChallenge_1_correct.ts
  data/static/codefixes/scoreBoardChallenge_2.ts
  data/static/codefixes/scoreBoardChallenge_3.ts
  data/static/contractABIs.ts
  frontend/package.json
  frontend/src/app/Services/keys.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/faucet/faucet.component.html
  frontend/src/app/faucet/faucet.component.scss
  frontend/src/app/faucet/faucet.component.ts
  frontend/src/app/faucet/faucet.module.ts
  frontend/src/assets/public/ContractABIs.ts
  frontend/src/assets/public/images/BeeOwner.png
  frontend/src/assets/public/images/HoneyPot.png
  frontend/src/assets/public/images/uploads/BeeHaven.png
  frontend/src/tsconfig.app.json
  frontend/src/tsconfig.spec.json
  package.json
  routes/nftMint.ts
  server.ts
Labels: size/XXL

#2070 Ignore Node.js 20 Failures for API / Frisby Tests
  .github/workflows/ci.yml
Labels: continuous integration, testing, size/S

#2076 Add Juice Shop talk NCS 2023
  REFERENCES.md
Labels: size/XS

#2077 Migrate to Cypress 10
  .github/workflows/ci.yml
  cypress.config.ts
  cypress.json
  package.json
  test/cypress/e2e/administration.spec.ts
  test/cypress/e2e/b2bOrder.spec.ts
  test/cypress/e2e/basket.spec.ts
  test/cypress/e2e/changePassword.spec.ts
  test/cypress/e2e/chatbot.spec.ts
  test/cypress/e2e/complain.spec.ts
  test/cypress/e2e/contact.spec.ts
  test/cypress/e2e/dataErasure.spec.ts
  test/cypress/e2e/dataExport.spec.ts
  test/cypress/e2e/deluxe.spec.ts
  test/cypress/e2e/directAccess.spec.ts
  test/cypress/e2e/forgedJwt.spec.ts
  test/cypress/e2e/forgotPassword.spec.ts
  test/cypress/e2e/geoStalking.spec.ts
  test/cypress/e2e/login.spec.ts
  test/cypress/e2e/metrics.spec.ts
  test/cypress/e2e/noSql.spec.ts
  test/cypress/e2e/privacyPolicy.spec.ts
  test/cypress/e2e/profile.spec.ts
  test/cypress/e2e/publicFtp.spec.ts
  test/cypress/e2e/redirect.spec.ts
  test/cypress/e2e/register.spec.ts
  test/cypress/e2e/restApi.spec.ts
  test/cypress/e2e/scoreBoard.spec.ts
  test/cypress/e2e/search.spec.ts
  test/cypress/e2e/tokenSale.spec.ts
  test/cypress/e2e/totpSetup.spec.ts
  test/cypress/e2e/trackOrder.spec.ts
  test/cypress/fixtures/example.json
  test/cypress/plugins/index.ts
  test/cypress/support/commands.ts
  test/cypress/support/e2e.ts
  test/cypress/support/index.ts
Labels: size/L

#2069 New Crowdin updates
  data/static/i18n/ro_RO.json
Labels: size/XS
