Repository juice-shop/juice-shop, pull requests merged in 2024-04, with the labels that each got.

#2205 feat: Add CSAF
  .well-known/csaf/2017/juice-shop-sa-20200513-express-jwt.json
  .well-known/csaf/2017/juice-shop-sa-20200513-express-jwt.json.asc
  .well-known/csaf/2017/juice-shop-sa-20200513-express-jwt.json.sha512
  .well-known/csaf/2021/juice-shop-sa-20211014-proto.json
  .well-known/csaf/2021/juice-shop-sa-20211014-proto.json.asc
  .well-known/csaf/2021/juice-shop-sa-20211014-proto.json.sha512
  .well-known/csaf/2024/juice-shop-sa-disclaimer.json
  .well-known/csaf/2024/juice-shop-sa-disclaimer.json.asc
  .well-known/csaf/2024/juice-shop-sa-disclaimer.json.sha512
  .well-known/csaf/changes.csv
  .well-known/csaf/index.txt
  .well-known/csaf/provider-metadata.json
  .well-known/security.txt
  Gruntfile.js
  config.schema.yml
  config/default.yml
  config/fbctf.yml
  data/datacreator.ts
  data/static/challenges.yml
  data/static/codefixes/accessLogDisclosureChallenge_1_correct.ts
  data/static/codefixes/accessLogDisclosureChallenge_2.ts
  data/static/codefixes/accessLogDisclosureChallenge_3.ts
  data/static/codefixes/accessLogDisclosureChallenge_4.ts
  data/static/codefixes/directoryListingChallenge_1_correct.ts
  data/static/codefixes/directoryListingChallenge_2.ts
  data/static/codefixes/directoryListingChallenge_3.ts
  data/static/codefixes/directoryListingChallenge_4.ts
  lib/config.types.ts
  routes/verify.ts
  rsn/cache.json
  server.ts
  test/api/fileServingSpec.ts
Labels: size/XL

#2212 New Crowdin updates
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_TW.json
Labels: stale, size/M

#2233 Change kitty hint to the correct URL
  data/static/challenges.yml
Labels: size/XS

#2232 New Crowdin updates
  data/static/i18n/de_CH.json
  data/static/i18n/de_DE.json
Labels: size/XS

#2236 Fix broken links to OWASP cheat sheet
  data/static/challenges.yml
Labels: size/S

#2244 Feat/csaf fix
  .well-known/csaf/2017/juice-shop-sa-20200513-express-jwt.json
  .well-known/csaf/2017/juice-shop-sa-20200513-express-jwt.json.asc
  .well-known/csaf/2017/juice-shop-sa-20200513-express-jwt.json.sha512
  .well-known/csaf/2021/juice-shop-sa-20211014-proto.json
  .well-known/csaf/2021/juice-shop-sa-20211014-proto.json.asc
  .well-known/csaf/2021/juice-shop-sa-20211014-proto.json.sha512
  .well-known/csaf/2024/juice-shop-sa-disclaimer.json
  .well-known/csaf/2024/juice-shop-sa-disclaimer.json.asc
  .well-known/csaf/2024/juice-shop-sa-disclaimer.json.sha512
Labels: size/L
