Repository juice-shop/juice-shop, pull requests merged in 2024-07, with the labels that each got.

#2285 fix csafHashValue
  config/default.yml
Labels: bug, size/XS

#2286 refactoring waitForDevTool helper function
  frontend/src/hacking-instructor/helpers/helpers.ts
Labels: size/S

#2278 adding hacking tutorial for reflexted xss
  data/static/challenges.yml
  frontend/src/hacking-instructor/challenges/reflectedXss.ts
  frontend/src/hacking-instructor/helpers/helpers.ts
  frontend/src/hacking-instructor/index.ts
Labels: size/L, hacking instructor

#2273 adding hacking tutorial for admin section challenge
  data/static/challenges.yml
  frontend/src/hacking-instructor/challenges/adminSection.ts
  frontend/src/hacking-instructor/helpers/helpers.ts
  frontend/src/hacking-instructor/index.ts
Labels: size/L, hacking instructor
