Repository juice-shop/juice-shop, pull requests merged in 2024-03, with the labels that each got.

#2202 Fix link to troubleshooting page in bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: size/XS

#2204 chore: adjust OWASP name
  Dockerfile
Labels: size/XS

#2207 fix docker smoke tests
  frontend/package.json
Labels: size/S

#2184 resolves issue #2174
  SOLUTIONS.md
  config.schema.yml
  config/ctf.yml
  config/default.yml
  config/unsafe.yml
  data/datacreator.ts
  frontend/src/app/Services/configuration.service.ts
  frontend/src/app/score-board/components/challenge-card/challenge-card.component.html
  frontend/src/app/score-board/components/challenges-unavailable-warning/challenges-unavailable-warning.component.html
  frontend/src/app/score-board/components/challenges-unavailable-warning/challenges-unavailable-warning.component.ts
  frontend/src/assets/i18n/ar_SA.json
  frontend/src/assets/i18n/az_AZ.json
  frontend/src/assets/i18n/bg_BG.json
  frontend/src/assets/i18n/bn_BD.json
  frontend/src/assets/i18n/ca_ES.json
  frontend/src/assets/i18n/cs_CZ.json
  frontend/src/assets/i18n/da_DK.json
  frontend/src/assets/i18n/de_CH.json
  frontend/src/assets/i18n/de_DE.json
  frontend/src/assets/i18n/el_GR.json
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/et_EE.json
  frontend/src/assets/i18n/fi_FI.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/ga_IE.json
  frontend/src/assets/i18n/he_IL.json
  frontend/src/assets/i18n/hi_IN.json
  frontend/src/assets/i18n/hu_HU.json
  frontend/src/assets/i18n/id_ID.json
  frontend/src/assets/i18n/it_IT.json
  frontend/src/assets/i18n/ja_JP.json
  frontend/src/assets/i18n/ka_GE.json
  frontend/src/assets/i18n/ko_KR.json
  frontend/src/assets/i18n/lv_LV.json
  frontend/src/assets/i18n/my_MM.json
  frontend/src/assets/i18n/nl_NL.json
  frontend/src/assets/i18n/no_NO.json
  frontend/src/assets/i18n/pl_PL.json
  frontend/src/assets/i18n/pt_BR.json
  frontend/src/assets/i18n/pt_PT.json
  frontend/src/assets/i18n/ro_RO.json
  frontend/src/assets/i18n/ru_RU.json
  frontend/src/assets/i18n/si_LK.json
  frontend/src/assets/i18n/sv_SE.json
  frontend/src/assets/i18n/th_TH.json
  frontend/src/assets/i18n/tlh_AA.json
  frontend/src/assets/i18n/tr_TR.json
  frontend/src/assets/i18n/uk_UA.json
  frontend/src/assets/i18n/zh_CN.json
  frontend/src/assets/i18n/zh_HK.json
  frontend/src/assets/i18n/zh_TW.json
  lib/is-docker.ts
  lib/utils.ts
Labels: size/L
