Repository juice-shop/juice-shop, pull requests merged in 2024-06, with the labels that each got.

#2260 New Crowdin updates
  data/static/i18n/sv_SE.json
Labels: stale, size/M

#2264 improving scrollbars on challenge cards of score-board page
  REFERENCES.md
  frontend/src/app/score-board/components/challenge-card/challenge-card.component.scss
Labels: user interface, design/layout, size/M

#2266 Fix OWASP abbreviation
  config/default.yml
  frontend/src/app/welcome-banner/welcome-banner.component.ts
Labels: size/XS

#2270 New Crowdin updates
  frontend/src/assets/i18n/es_ES.json
  frontend/src/assets/i18n/zh_TW.json
Labels: size/S
