Repository juice-shop/juice-shop, pull requests merged in 2025-02, with the labels that each got.

#2447 Fixed ForgotPasswordComponent and PasswordStrengthInfoComponent- Part of #2437
  frontend/src/app/forgot-password/forgot-password.component.html
  frontend/src/app/forgot-password/forgot-password.component.scss
  frontend/src/app/password-strength-info/password-strength-info.component.scss
Labels: user interface, size/L

#2445 Fixed NFTUnlockComponent - Part of #2437
  frontend/src/app/nft-unlock/nft-unlock.component.html
  frontend/src/app/nft-unlock/nft-unlock.component.scss
  frontend/src/app/search-result/search-result.component.html
  frontend/src/app/search-result/search-result.component.scss
Labels: size/L

#2451 Fixed SidenavComponent - Part of #2437
  frontend/src/app/sidenav/sidenav.component.scss
Labels: size/XS

#2464 fix forgotPassword cypress tests
  test/cypress/e2e/forgotPassword.spec.ts
Labels: testing, size/M

#2452 Challenge "Exposed Credentials"
  config.schema.yml
  config/fbctf.yml
  data/static/challenges.yml
  data/static/users.yml
  frontend/src/app/login/login.component.ts
  frontend/src/hacking-instructor/challenges/exposedCredentials.ts
  frontend/src/hacking-instructor/index.ts
  routes/login.ts
  test/cypress/e2e/login.spec.ts
Labels: challenge, feature, size/L

#2454 Fixed Navbar Component - Part of #2437
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.scss
Labels: size/M

#2476 Chatbot component fixed- Part of #2437
  frontend/src/app/chatbot/chatbot.component.html
  frontend/src/app/chatbot/chatbot.component.scss
Labels: size/M

#2468 Contact Component Fix
  frontend/src/app/contact/contact.component.scss
Labels: size/M

#2482 Complaint component fixed
  frontend/src/app/complaint/complaint.component.html
  frontend/src/app/complaint/complaint.component.scss
  frontend/src/app/complaint/complaint.component.ts
Labels: size/M

#2481 ChangePassword Component fixed
  frontend/src/app/change-password/change-password.component.html
  frontend/src/app/change-password/change-password.component.scss
Labels: size/M

#2479 Wallet and Wallet-Web3 Component Fixed
  frontend/src/app/wallet-web3/wallet-web3.component.html
  frontend/src/app/wallet-web3/wallet-web3.component.scss
  frontend/src/app/wallet-web3/wallet-web3.component.ts
  frontend/src/app/wallet/wallet.component.html
  frontend/src/app/wallet/wallet.component.scss
  frontend/src/app/wallet/wallet.component.ts
Labels: size/M

#2475 OrderHistory Component fixed : Fixed some issues and ensured component working
  frontend/src/app/order-history/order-history.component.html
  frontend/src/app/order-history/order-history.component.scss
Labels: size/M

#2470 PurchaseBasket Component : improved styling and ensured componenet working
  frontend/src/app/purchase-basket/purchase-basket.component.scss
Labels: size/L

#2494 Fix hint url for Mass Dispel challenge
  data/static/challenges.yml
Labels: size/XS

#2471 ProductDetails Component : fixed issues and ensured component working
  frontend/src/app/product-details/product-details.component.html
  frontend/src/app/product-details/product-details.component.scss
Labels: size/M

#2477 OrderSummary Component fixed : Enhanced the UI and ensured component working
  frontend/src/app/order-summary/order-summary.component.html
  frontend/src/app/order-summary/order-summary.component.scss
Labels: size/L

#2478 PrivacyPolicy Component fixed : fixed an issue and ensured component working
  frontend/src/app/privacy-policy/privacy-policy.component.html
  frontend/src/app/privacy-policy/privacy-policy.component.scss
Labels: size/S

#2483 SearchResult Component fixed
  frontend/src/app/search-result/search-result.component.html
  frontend/src/app/search-result/search-result.component.scss
Labels: size/M

#2488 ScoreBoardAditionalSettings Component Fixed
  frontend/src/app/score-board/components/filter-settings/components/score-board-additional-settings-dialog/score-board-additional-settings-dialog.component.html
  frontend/src/app/score-board/components/filter-settings/components/score-board-additional-settings-dialog/score-board-additional-settings-dialog.component.scss
Labels: size/M

#2493 AdressCreate and AboutComponent fixed
  frontend/src/app/about/about.component.html
  frontend/src/app/about/about.component.scss
  frontend/src/app/address-create/address-create.component.html
  frontend/src/app/address-create/address-create.component.scss
Labels: size/M

#2485 WelcomeBanner Component fixed
  frontend/src/app/welcome-banner/welcome-banner.component.html
  frontend/src/app/welcome-banner/welcome-banner.component.scss
Labels: size/S

#2465 Fixed Delivery Method Component
  frontend/src/app/delivery-method/delivery-method.component.html
  frontend/src/app/delivery-method/delivery-method.component.scss
Labels: size/XS

#2480 Recycle Component fixed
  frontend/src/app/recycle/recycle.component.html
  frontend/src/app/recycle/recycle.component.scss
Labels: size/L

#2504 Adress Component Fixed
  frontend/src/app/address/address.component.html
  frontend/src/app/address/address.component.scss
Labels: size/S

#2489 TokenSale Component Fixed
  frontend/src/app/token-sale/token-sale.component.html
  frontend/src/app/token-sale/token-sale.component.scss
Labels: size/M

#2492 Faucet Component Fixed
  frontend/src/app/faucet/faucet.component.html
  frontend/src/app/faucet/faucet.component.scss
  frontend/src/app/faucet/faucet.component.ts
Labels: size/M
