Repository juice-shop/juice-shop, pull requests merged in 2025-03, with the labels that each got.

#2522 FilterSettings component fixed
  frontend/src/app/score-board/components/filter-settings/filter-settings.component.html
  frontend/src/app/score-board/components/filter-settings/filter-settings.component.scss
Labels: size/M

#2498 Fixed DeluxeUserComponent : Part of #2437
  frontend/src/app/deluxe-user/deluxe-user.component.html
  frontend/src/app/deluxe-user/deluxe-user.component.scss
Labels: size/L

#2529 GWEI fixed - indentation issue persists
  frontend/src/app/web3-sandbox/web3-sandbox.component.html
  frontend/src/app/web3-sandbox/web3-sandbox.component.scss
Labels: size/M

#2507 New Crowdin updates
  data/static/i18n/sv_SE.json
Labels: stale, size/S
