Repository juice-shop/juice-shop, pull requests merged in 2025-01, with the labels that each got.

#2417 check upload size before handling zip files
  server.ts
Labels: size/XS

#2423 fix tutorial.js being bundled into main.js
  frontend/src/app/score-board/components/challenge-card/challenge-card.component.ts
  lib/startup/validatePreconditions.ts
Labels: size/S

#2429 new pass strength checker; needs unit tests
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/forgot-password/forgot-password.component.html
  frontend/src/app/forgot-password/forgot-password.component.spec.ts
  frontend/src/app/forgot-password/forgot-password.component.ts
  frontend/src/app/password-strength-info/password-strength-info.component.html
  frontend/src/app/password-strength-info/password-strength-info.component.scss
  frontend/src/app/password-strength-info/password-strength-info.component.spec.ts
  frontend/src/app/password-strength-info/password-strength-info.component.ts
  frontend/src/app/password-strength/password-strength.component.html
  frontend/src/app/password-strength/password-strength.component.scss
  frontend/src/app/password-strength/password-strength.component.spec.ts
  frontend/src/app/password-strength/password-strength.component.ts
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.spec.ts
  frontend/src/app/register/register.component.ts
  frontend/src/main.ts
  package.json
Labels: size/L

#2427 Fix typos
  frontend/src/app/two-factor-auth/two-factor-auth.component.html
  frontend/src/app/two-factor-auth/two-factor-auth.component.spec.ts
  frontend/src/app/two-factor-auth/two-factor-auth.component.ts
  frontend/src/app/web3-sandbox/web3-sandbox.component.ts
  frontend/src/assets/i18n/zh_TW.json
  frontend/src/assets/private/three.js
  frontend/src/hacking-instructor/challenges/loginAdmin.ts
  test/api/2faSpec.ts
  test/cypress/e2e/basket.spec.ts
  test/cypress/e2e/contact.spec.ts
  test/cypress/e2e/login.spec.ts
  test/cypress/e2e/restApi.spec.ts
  test/cypress/e2e/totpSetup.spec.ts
  test/server/verifySpec.ts
Labels: size/L

#2431 New Crowdin updates
  data/static/i18n/zh_CN.json
  frontend/src/assets/i18n/fr_FR.json
  frontend/src/assets/i18n/zh_CN.json
Labels: size/XS
